@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
.text_primary {
  color: #27565A;
}

.bg_primary {
  background-color: #27565A;
}

.text_primary_light1 {
  color: #52787b;
}

.bg_primary_light1 {
  background-color: #52787b;
}

.text_primary_light2 {
  color: #7d9a9c;
}

.bg_primary_light2 {
  background-color: #7d9a9c;
}

.text_primary_light3 {
  color: #a9bbbd;
}

.bg_primary_light3 {
  background-color: #a9bbbd;
}

.text_primary_light4 {
  color: #d4ddde;
}

.bg_primary_light4 {
  background-color: #d4ddde;
}

.text_primary_dark1 {
  color: #1f4548;
}

.bg_primary_dark1 {
  background-color: #1f4548;
}

.text_primary_dark2 {
  color: #173436;
}

.bg_primary_dark2 {
  background-color: #173436;
}

.text_primary_dark3 {
  color: #102224;
}

.bg_primary_dark3 {
  background-color: #102224;
}

.text_primary_dark4 {
  color: #081112;
}

.bg_primary_dark4 {
  background-color: #081112;
}

.text_secondary {
  color: #64B332;
}

.bg_secondary {
  background-color: #64B332;
}

.text_secondary_light1 {
  color: #83c25b;
}

.bg_secondary_light1 {
  background-color: #83c25b;
}

.text_secondary_light2 {
  color: #a2d184;
}

.bg_secondary_light2 {
  background-color: #a2d184;
}

.text_secondary_light3 {
  color: #c1e1ad;
}

.bg_secondary_light3 {
  background-color: #c1e1ad;
}

.text_secondary_light4 {
  color: #e0f0d6;
}

.bg_secondary_light4 {
  background-color: #e0f0d6;
}

.text_secondary_dark1 {
  color: #508f28;
}

.bg_secondary_dark1 {
  background-color: #508f28;
}

.text_secondary_dark2 {
  color: #3c6b1e;
}

.bg_secondary_dark2 {
  background-color: #3c6b1e;
}

.text_secondary_dark3 {
  color: #284814;
}

.bg_secondary_dark3 {
  background-color: #284814;
}

.text_secondary_dark4 {
  color: #14240a;
}

.bg_secondary_dark4 {
  background-color: #14240a;
}

.text_accent {
  color: #AFC835;
}

.bg_accent {
  background-color: #AFC835;
}

.text_accent_light1 {
  color: #bfd35d;
}

.bg_accent_light1 {
  background-color: #bfd35d;
}

.text_accent_light2 {
  color: #cfde86;
}

.bg_accent_light2 {
  background-color: #cfde86;
}

.text_accent_light3 {
  color: #dfe9ae;
}

.bg_accent_light3 {
  background-color: #dfe9ae;
}

.text_accent_light4 {
  color: #eff4d7;
}

.bg_accent_light4 {
  background-color: #eff4d7;
}

.text_accent_dark1 {
  color: #8ca02a;
}

.bg_accent_dark1 {
  background-color: #8ca02a;
}

.text_accent_dark2 {
  color: #697820;
}

.bg_accent_dark2 {
  background-color: #697820;
}

.text_accent_dark3 {
  color: #465015;
}

.bg_accent_dark3 {
  background-color: #465015;
}

.text_accent_dark4 {
  color: #23280b;
}

.bg_accent_dark4 {
  background-color: #23280b;
}

.text_gray {
  color: #abaf9f;
}

.bg_gray {
  background-color: #abaf9f;
}

.text_gray_light1 {
  color: #bcbfb2;
}

.bg_gray_light1 {
  background-color: #bcbfb2;
}

.text_gray_light2 {
  color: #cdcfc5;
}

.bg_gray_light2 {
  background-color: #cdcfc5;
}

.text_gray_light3 {
  color: #dddfd9;
}

.bg_gray_light3 {
  background-color: #dddfd9;
}

.text_gray_light4 {
  color: #eeefec;
}

.bg_gray_light4 {
  background-color: #eeefec;
}

.text_gray_dark1 {
  color: #898c7f;
}

.bg_gray_dark1 {
  background-color: #898c7f;
}

.text_gray_dark2 {
  color: #67695f;
}

.bg_gray_dark2 {
  background-color: #67695f;
}

.text_gray_dark3 {
  color: #444640;
}

.bg_gray_dark3 {
  background-color: #444640;
}

.text_gray_dark4 {
  color: #222320;
}

.bg_gray_dark4 {
  background-color: #222320;
}

.text_white {
  color: #FFFFFF;
}

.bg_white {
  background-color: #FFFFFF;
}

html, body {
  width: 100%;
  height: 100%;
}

.main {
  display: grid;
  grid-template: 70px 85px auto/minmax(225px, 300px) 4fr;
  font-family: "Titillium Web", sans-serif;
}

img {
  width: 24px;
  height: 24px;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.pfp_large {
  width: 70px;
  height: 70px;
}

.sidebar {
  display: grid;
  grid-row: 1/-1;
  grid-column: 1;
  align-items: start;
  grid-template-rows: auto;
  align-content: start;
  padding: 8px;
  gap: 12px;
}
.sidebar img {
  filter: invert(94%) sepia(85%) saturate(0%) hue-rotate(157deg) brightness(102%) contrast(100%);
}

.header {
  display: flex;
  margin: 15px 30px 0px 30px;
  gap: 20px;
  align-items: center;
  height: 50px;
}
.header__search-bar {
  border-radius: 15px;
  border: none;
  height: 22px;
  flex-basis: 40%;
  margin-right: 45%;
}
.header__username {
  white-space: nowrap;
}

.greeting {
  display: flex;
  align-items: center;
  height: 70px;
  margin: 0px 30px;
  gap: 15px;
  margin-bottom: 15px;
}
.greeting__text {
  display: flex;
  flex-direction: column;
  margin-right: 60%;
}
.greeting__icon {
  height: 70px;
  width: 70px;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 30 auto;
  grid-column: 1;
  grid-row: 1/-1;
  box-shadow: inset rgba(0, 0, 0, 0.15) 0px 3.6px 4px -3px;
  padding: 25px 20px;
}
.projects__header {
  grid-column: 1/-1;
  height: 20px;
}
.projects__card {
  border-radius: 8px;
  margin: 14px;
  padding: 0px 0px 0px 8px;
  position: relative;
  height: auto;
  overflow: hidden;
}
.projects__buttons {
  display: flex;
  position: absolute;
  bottom: 10px;
  margin: 5% 0% 0% 50%;
}
.projects__card-inner {
  background-color: white;
  width: 85%;
  height: 80%;
  padding: 5% 10% 20% 5%;
}

.announcements {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  box-shadow: inset rgba(0, 0, 0, 0.15) 0px 3.6px 4px -3px;
}
.announcements__header {
  grid-column: 1/-1;
}

.trending {
  grid-column: 2;
  grid-row: 2;
}

.btn {
  height: 30px;
  border: 0px;
}

.sidebar .btn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 1fr;
  padding: 10px;
  color: white;
  background: none;
}
.sidebar__logo {
  height: 60px;
  font-size: 30px;
}
.sidebar__communities {
  margin-bottom: 50px;
}

.header .btn {
  align-self: flex-start;
  height: 100%;
  background: none;
}

.greeting .btn {
  border-radius: 15px;
  color: white;
  padding: 5px 25px;
}

.projects .btn {
  background: none;
}/*# sourceMappingURL=index.css.map */