.main {
  display: grid;
  grid-template: auto auto auto/minmax(150px, 1fr) 4fr;
}

.sidebar {
  display: grid;
  grid-row: 1/-1;
  grid-column: 1;
}

.header {
  display: flex;
  justify-content: space-around;
}

.greeting {
  display: flex;
  justify-content: space-around;
}
.greeting__text {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column: 1;
}
.projects__header {
  grid-column: 1/-1;
}

.announcements {
  display: grid;
  grid-column: 2;
  grid-row: 1;
}
.announcements__header {
  grid-column: 1/-1;
}

.trending {
  grid-column: 2;
  grid-row: 2;
}

.text-primary {
  color: #27565A;
}

.bg-primary {
  background-color: #27565A;
}

.text_primary_light1 {
  color: #52787b;
}

.bg_primary_light1 {
  background-color: #3d676b;
}

.text_primary_light2 {
  color: #7d9a9c;
}

.bg_primary_light2 {
  background-color: #52787b;
}

.text_primary_light3 {
  color: #a9bbbd;
}

.bg_primary_light3 {
  background-color: #68898c;
}

.text_primary_light4 {
  color: #d4ddde;
}

.bg_primary_light4 {
  background-color: #7d9a9c;
}

.text_primary_dark1 {
  color: #1f4548;
}

.bg_primary_dark1 {
  background-color: #234d51;
}

.text_primary_dark2 {
  color: #173436;
}

.bg_primary_dark2 {
  background-color: #1f4548;
}

.text_primary_dark3 {
  color: #102224;
}

.bg_primary_dark3 {
  background-color: #1b3c3f;
}

.text_primary_dark4 {
  color: #081112;
}

.bg_primary_dark4 {
  background-color: #173436;
}

.text-secondary {
  color: #64B332;
}

.bg-secondary {
  background-color: #64B332;
}

.text_secondary_light1 {
  color: #83c25b;
}

.bg_secondary_light1 {
  background-color: #74bb47;
}

.text_secondary_light2 {
  color: #a2d184;
}

.bg_secondary_light2 {
  background-color: #83c25b;
}

.text_secondary_light3 {
  color: #c1e1ad;
}

.bg_secondary_light3 {
  background-color: #93ca70;
}

.text_secondary_light4 {
  color: #e0f0d6;
}

.bg_secondary_light4 {
  background-color: #a2d184;
}

.text_secondary_dark1 {
  color: #508f28;
}

.bg_secondary_dark1 {
  background-color: #5aa12d;
}

.text_secondary_dark2 {
  color: #3c6b1e;
}

.bg_secondary_dark2 {
  background-color: #508f28;
}

.text_secondary_dark3 {
  color: #284814;
}

.bg_secondary_dark3 {
  background-color: #467d23;
}

.text_secondary_dark4 {
  color: #14240a;
}

.bg_secondary_dark4 {
  background-color: #3c6b1e;
}

.text-accent {
  color: #AFC835;
}

.bg-accent {
  background-color: #AFC835;
}

.text_accent_light1 {
  color: #bfd35d;
}

.bg_accent_light1 {
  background-color: #b7ce49;
}

.text_accent_light2 {
  color: #cfde86;
}

.bg_accent_light2 {
  background-color: #bfd35d;
}

.text_accent_light3 {
  color: #dfe9ae;
}

.bg_accent_light3 {
  background-color: #c7d972;
}

.text_accent_light4 {
  color: #eff4d7;
}

.bg_accent_light4 {
  background-color: #cfde86;
}

.text_accent_dark1 {
  color: #8ca02a;
}

.bg_accent_dark1 {
  background-color: #9eb430;
}

.text_accent_dark2 {
  color: #697820;
}

.bg_accent_dark2 {
  background-color: #8ca02a;
}

.text_accent_dark3 {
  color: #465015;
}

.bg_accent_dark3 {
  background-color: #7b8c25;
}

.text_accent_dark4 {
  color: #23280b;
}

.bg_accent_dark4 {
  background-color: #697820;
}

.text-gray {
  color: #A2AA84;
}

.bg-gray {
  background-color: #A2AA84;
}

.text_gray_light1 {
  color: #b5bb9d;
}

.bg_gray_light1 {
  background-color: #abb390;
}

.text_gray_light2 {
  color: #c7ccb5;
}

.bg_gray_light2 {
  background-color: #b5bb9d;
}

.text_gray_light3 {
  color: #daddce;
}

.bg_gray_light3 {
  background-color: #bec4a9;
}

.text_gray_light4 {
  color: #eceee6;
}

.bg_gray_light4 {
  background-color: #c7ccb5;
}

.text_gray_dark1 {
  color: #82886a;
}

.bg_gray_dark1 {
  background-color: #929977;
}

.text_gray_dark2 {
  color: #61664f;
}

.bg_gray_dark2 {
  background-color: #82886a;
}

.text_gray_dark3 {
  color: #414435;
}

.bg_gray_dark3 {
  background-color: #71775c;
}

.text_gray_dark4 {
  color: #20221a;
}

.bg_gray_dark4 {
  background-color: #61664f;
}

btn-small {
  padding: 5px;
}/*# sourceMappingURL=index.css.map */