@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

html, body {
    width: 100%;
    height: 100%;
}
.main {
    display: grid;
    grid-template: 70px 85px auto / minmax(225px, 275px) 4fr;
    font-family: 'Titillium Web', sans-serif;
}

img{
    width: 24px;
    height: 24px;
}

.pfp{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &_large{
        width: 70px;
        height: 70px;
    }
}

.sidebar {
    display: grid;
    grid-row: 1 / -1;
    grid-column: 1;
    align-items: start;
    grid-template-rows: auto;
    align-content: start;
    padding: 8px;
    gap: 12px;

    img {
        filter: invert(94%) sepia(85%) saturate(0%) hue-rotate(157deg) brightness(102%) contrast(100%);
    }

}

.header {
    display: flex;
    margin: 15px 36px 0px 30px;
    gap: 20px;
    align-items: center;
    height: 50px;

    &__search-bar {
        border-radius: $base-border-radius;
        border: none;
        height: 22px;
        flex-basis: 40%;
    }

    &__username {
        white-space: nowrap;
    }

    &__notification {
        margin-left: auto;
    }


}

.greeting {
    display: flex;
    align-items: center;
    height: 70px;
    margin: 0px 30px;
    gap: 15px;
    margin-bottom: 15px;

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__new {
        margin-left: auto;
    }

    &__icon {
        height: 70px;
        width: 70px;
    }

}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 30px auto;
    grid-column: 1;
    grid-row: 1 / -1;
    box-shadow: inset $base-shadow-top;
    padding: 25px 0px;

    &__header {
        grid-column: 1 / -1;
        height: 20px;
        padding: 0px 0px 0px 25px;
    }

    &__card {
        border-radius: $base-border-radius-half;
        margin: 14px;
        padding: 0px 0px 0px 8px;
        position: relative;
        height: auto;
        overflow: hidden;
        box-shadow: $base-shadow
    }

    &__buttons {
        display: flex;
        position: absolute;
        bottom: 10px;
        margin: 5% 0% 0% 50%;
        gap: 15px;
    }

    &__card-inner {
        background-color: white;
        width: 85%;
        height: 80%;
        padding: 5% 10% 20% 5%;
    }

    &__text {
        margin: 5px 0px 0px 0px;
    }

}

.announcements {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    box-shadow: inset $base-shadow-top;
    padding: 25px 15px 5px 0px;
    grid-template-rows: 30px auto;

    &__header {
        height: 20px;
    }

    &__wrapper {
        display: grid;
        margin: 16px 0px;
        background-color: white;
        border-radius: $base-border-radius-half;
        padding: 25px 45px;
        box-shadow: $base-shadow;
    }

    &__text {
        border-bottom: 1px solid lighten($gray, 12);
        padding-bottom: 16px;
    }

    &__text--final {
        border-bottom: none;
    }

}

.trending {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    padding: 0px 15px 5px 0px;
    grid-template-rows: 30px auto;

    &__wrapper {
        display: grid;
        grid-template-rows: repeat(4, 70px);
        margin: 16px 0px;
        background-color: white;
        border-radius: $base-border-radius-half;
        padding: 10px 25px;
        box-shadow: $base-shadow;
        height: fit-content;
    }

    &__users {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 30px 30px;
        height: 60px;

        .img {
            grid-column: 1;
            grid-row: 1 / span 2;
            height: 60px;
            width: 60px;
        }

        .span {
            grid-column: 2;
        }
    }

    &__handle {
        font-weight: bold;
        align-self: end;
    }

    &__name {
        color: darken($gray, 12)
    }
}