@each $key, $val in $colors {
    .text-#{$key} {
      color: $val;
    }
    .bg-#{$key} {
      background-color: $val;
    }
  
    @if ($val != black and $val != white) {
      // light variations
      @for $i from 1 through 4 {
        .text_#{$key}_light#{$i} {
          color: mix(white, $val, $i * 20);
        }
        .bg_#{$key}_light#{$i} {
          background-color: mix(white, $val, $i * 10);
        }
      }
  
      // dark variations
      @for $i from 1 through 4 {
        .text_#{$key}_dark#{$i} {
          color: mix(black, $val, $i * 20);
        }
        .bg_#{$key}_dark#{$i} {
          background-color: mix(black, $val, $i * 10);
        }
      }
    }
  }