$primary: #27565A;
$secondary: #64B332;
$accent: #AFC835;
$gray: #abaf9f;

$colors: (
    "primary": #27565A,
    "secondary": #64B332,
    "accent": #AFC835,
    "gray": #abaf9f,
);

$base-border-radius: 15px;