.btn {
    height: 30px;
    border: 0px;
}

.sidebar {
    .btn {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 1fr;
    padding: 10px;
    color: white;
    background: none;
    }

    &__logo {
        height: 60px;
        font-size: 30px;
    }

    &__communities {
        margin-bottom: 50px;
    }
}

.header{

    .btn {
    align-self: flex-start;
    height: 100%;
    background: none;
    }
}

.greeting {
    .btn {
        border-radius: $base-border-radius;
        color: white;
        padding: 5px 25px;
    }
}

.projects {
    .btn {
        background: none;
    }
}